# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
tirith-front/node_modules/
tirith-back/node_modules/

# Expo
tirith-front/.expo/
tirith-front/dist/
tirith-front/web-build/
tirith-front/expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
tirith-front/.metro-health-check*

# debug
tirith-front/npm-debug.*
tirith-front/yarn-debug.*
tirith-front/yarn-error.*

# macOS
tirith-front/.DS_Store
tirith-front/*.pem

# local env files
tirith-front/.env*.local

.env


tirith-back/.env

# typescript
tirith-front/*.tsbuildinfo

tirith-front/app-example
